.detail{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
.content{
    flex:1;
    overflow:scroll;
}
.content .ant-carousel .slick-list {
    height: 3.75rem;
}
.content .ant-carousel .slick-slide {
    text-align: center;
    height: 3.75rem !important;
    background: #364d79;
    overflow: hidden;
} 
.ant-carousel .slick-slide h3 {
    color: #fff;
    height:3.75rem;
    margin:0;
}
.ant-carousel .slick-slide h3 img{
    width:3.7533rem;
    height:3.75rem;
}
.content .intro{
    padding:.08rem .16rem .1rem;
    height:1.16rem;
}
.content .intro p{
    margin:.02rem 0 .08rem;
    height:.24rem;
    font-size:.22rem;
    color:#ff4444;
}
.content .intro p span{
    font-size:.16rem;
}
.content .intro h6{
    font-size:.12rem;
    color:#969799;
    margin:0;
    height:.16rem;
}
.content .intro h6 span{
    text-decoration:line-through;
    margin-left:.04rem;
}
.content .intro h2{
    margin:0;
    font-size:.16rem;
    color:#323233;
}
.content .green{
    height:.4rem;
    background:#07c160;
    display:flex;
    align-items:center;
}
.content .green img{
    width:.78rem;
    height:.18rem;
    margin-left:.16rem;
}
.content .green span{
    color:white;
    padding-left:.12rem;
    font-size:.12rem;
    opacity:.8;
}
.content .bag{
    background:#eee;
}
.content .bag .yunfei{
    margin-top:.08rem;
    height:.45rem;
    background:white;
    font-size:.13rem;
    color:#969799;
    padding:.13rem .16rem;
}
.content .bag .yunfei span:nth-of-type(1){
    margin-right:.12rem;
}
.content .bag .yunfei span:nth-of-type(2){
    color:#323233;
}
.content .bag .yunfei span:nth-of-type(3){
    float:right;
}
.content .bag .kouwei{
    background:white;
    margin-top:.08rem;
}
.content .bag .kouwei p{
    padding:.1rem .16rem;
    display:flex;
    justify-content:space-between;
    margin:0;
    color:#969799;
    font-size:.13rem;
}
.content .bag .kouwei p span:nth-of-type(2){
    width:2.84rem;
    color:#323233;
}
.content .bag .kouwei .choose{
    padding:.13rem .16rem;
}
.content .bag .kouwei .choose p{
    padding:0;
}
.content .bag .kouwei .choose p:nth-of-type(2){
    margin-top:.13rem;
    display:block;
}
.content .bag .kouwei .choose p:nth-of-type(2) img:nth-of-type(1){
    margin-left:.3rem;
}
.content .bag .kouwei .choose p:nth-of-type(2) img{
    width:.32rem;
    height:.32rem;
    margin-right:.05rem;
    display:inline-block;
}
.content .bag .kouwei .choose p:nth-of-type(2) span{
    padding:0 .08rem;
}
.content .bag .meiwu{
    padding:.16rem;
    height:.8rem;
    background:white;
    margin-top:.08rem;
    display:flex;
    justify-content:space-between;
}
.content .bag .meiwu img{
    width:.48rem;
    height:.48rem;
}
.content .bag .meiwu p{
    width:1.42rem;
    margin:0;
}
.content .bag .meiwu p span{
    font-size:.16rem;
    color:#323233;
    /* line-height:.48rem; */
}
.content .bag .meiwu p img{
    width:.68rem;
    height:.16rem;
    margin-top:.06rem;
}
.content .bag .meiwu a{
    padding:0 .08rem;
    border:.01rem solid #c8c9cc;
    border-radius:.1rem;
    width:.66rem;
    height:.24rem;
    line-height:.24rem;
    font-size:.12rem;
}
.content .bag .meiwu a:nth-of-type(2){
    color:#f44;
    border:.01rem solid #f44;
    margin-left:.08rem;
}
.content .bag h4{
    margin-top:.06rem;
    margin-bottom:0;
    line-height:.4rem;
    background:white;
    padding:0 .16rem;
    text-align:center;
    color:#323233;
}
/* ------------------------ */
.footer{
    height:.5rem;
    padding:0;
}
.footer button{
    width:3.62rem;
    height:.4rem;
    margin:0 .05rem 0 .08rem;
    background:#f44;
    color:white;
    border-radius:.2rem;
    border:none;
}