.fengwei{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.header{
    display:flex;
    justify-content:space-around;
    height:.44rem;   
}
.header a{
    width:.83rem;
    padding:0 .05rem;
    line-height:.44rem;
    text-align:center;
    color:#7d7e80;
}
.header a:hover{
    color:#FF4444;
    border-bottom:.01rem solid #FF4444;
}
.content{
    flex:1;
    overflow:scroll;
}